@import "reset.css";
@import "components/header.css";
@import "components/footer.css";
@import "components/body.css";

* {
  background-color: #011f32;
}

p {
  font-family: "Space Mono", monospace;
  color: white;
}
 
h3 {
    font-family: "Space Mono", monospace;
    color:white
}