.descripcion_quienes_somos {
    position: relative;
    margin: 100px 70px 0 60px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    width: 80%;
    height: 50px;
    border:solid ivory;
    
}

.descripcion {
    color: ivory;
    font-size: 1.5em;
}