.descripcion_quienes_somos {
    position: relative;
    margin: 100px 0 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 50px;
    border:solid ivory;
    
}

.descripcion {
    color: ivory;
    font-size: 1.5em;
}