* {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  padding: 10px 0px;
  background: #0a5387;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
}

.areafooter {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.areafooter .logo img {
  width: 90px;
  display: flex;
  align-items: center;
}

.areafooter .logoname {
  margin-top: 20px;
  font-weight: 600;
  color: azure;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.areafooter h2 {
  margin-bottom: 20px;
  font-weight: 400;
  color: azure;
}

.areafooter a {
  color: rgb(209, 203, 201);
  padding: 3px;
}

.areafooter a .fab {
  padding: 2px;
}

.copyrightfooter {
  max-width: 100%;
  text-align: center;
  padding: 0px 15px;
}

.copyrightfooter p {
  padding: 10px;
  color: rgb(209, 203, 201);
}
.copyrightfooter hr {
  background: rgb(209, 203, 201);
}
